[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "shadowr"]
	path = shadowr
	url = https://github.com/ricilandolt/shadowr
	shallow = true
	registered = true
